* {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans";
}

body {
    background: linear-gradient(90deg, #ccc, #fff 50%);
    margin-top: 100px;
}

#header, #search, #footer {
    width: 500px;
    margin: 10px auto;
}

#header, #search {
    border-radius: 0.8em;
}

#header {
    background: linear-gradient(0deg, #228, #66a 90%,#668);
    height: 5rem;
}

#header h1 {
    font-size: 1.7em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem;
}

#header img {
    margin-top: -6rem;
    position: absolute;
    height: 7rem;
}

#search {
    background: linear-gradient(90deg, #cdf, #eff 50%, #cdf);
    height: 50px;
    color: #000;
    text-align: center;
    padding-top: 1.3rem !important;
}

#search fieldset {
    border: 0;
}

#search input[type=text] {
    width: 65%;
}

#search input[type=submit] {
    width: 25%;
}

#footer {
    text-align: center;
    color: #999;
}

#footer a {
    color: #555;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}
